<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>...</title>
</head>
<body>
    <form action="/logins/delete">
        <!-- <a href="/logins/web">나가기</a> -->
        <span><p>???</p><input type="submit" value="나가기"></span>
    </form>

</body>
</html>